name: Angular DEV CI & Deploy to S3

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["dev"]

permissions:
  contents: read

jobs:
  build-deploy-dev:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Setup Node.js
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4️⃣ Build DEV app
      - name: Build DEV app
        run: npm run build:dev

      # 5️⃣ Add SPA fallback
      - name: Add 404 fallback
        run: cp dist/my-angular-app/browser/index.html dist/my-angular-app/browser/404.html

      # 6️⃣ Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      # 7️⃣ Deploy to S3
      - name: Deploy to S3 (DEV)
        run: |
          aws s3 sync dist/my-angular-app/browser s3://demo-app-angular-new --delete
